@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');

#all, #pin {
    background-color: #efefef; 
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
    text-align: center;

}
body {
    background-color: aqua;
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header{
    
}
